.widgets {
  display: flex;
  width: 100%;
  
  .widgetItem {
    margin: 0px 5px;
    padding: 10px;
    -webkit-box-shadow: 2px 4px 10px -2px #2e2c2c;
    box-shadow: 2px 4px 10px -2px #a09f9f;
    border-radius: 10px;
    height: 120px;
    flex: 1;

    .left,
    .right {
      height: 100%;
      width: 50%;
      display: inline-flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;

      .title {
        font-weight: bold;
        font-size: 16px;
        color: rgb(160, 160, 160);
      }
      .counter {
        font-size: 28px;
        font-weight: 300;
        position: absolute;
        top: 40px;
      }

      .percentage {
        display: inline-flex;
        align-self: flex-end;
        align-items: center;
        font-size: 14px;
        color: rgb(9, 162, 9);

        &.positive {
          color: green;
        }
        &.negative {
          color: red;
        }
      }

      .icon {
        font-size: 18px;
        padding: 5px;
        border-radius: 5px;
        align-self: flex-end;
      }
    }
  }
}
